<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932484070284-9ok8l23hn7o5l189p3h7qvl2571q310s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932484070284-9ok8l23hn7o5l189p3h7qvl2571q310s</string>
	<key>API_KEY</key>
	<string>AIzaSyDkgOz152z4qhHvF6ATl90cE2nHQ5PO8NI</string>
	<key>GCM_SENDER_ID</key>
	<string>932484070284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.schliebs.maik.hundehaufen</string>
	<key>PROJECT_ID</key>
	<string>hundehaufen-3f942</string>
	<key>STORAGE_BUCKET</key>
	<string>hundehaufen-3f942.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932484070284:ios:95a6e87b43c04e459a74a9</string>
	<key>DATABASE_URL</key>
	<string>https://hundehaufen-3f942.firebaseio.com</string>
</dict>
</plist>